<header class="header">
    <div class="container-fluid">
        <nav class="navbar navbar-expand-lg navbar-light bg-light navbar-custom">
            <a class="navbar-brand" href="#">
                <img src="./img/logo.png" class="logo" alt="">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse " id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto ">
                    <li class="nav-item">
                        <a class="nav-link hvr-underline-from-center" href="/">Home </a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link hvr-underline-from-center" href="/about">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link hvr-underline-from-center" href="/team">Team<span
                                class="sr-only">(current)</span></a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link hvr-underline-from-center" href="/contact">Contact Us</a>
                    </li>


                </ul>

            </div>
        </nav>
    </div>
</header>
<!--MAIN LANDING PAGE-->
<div class="container-fluid about ">
    <div class="row justify-content-center d-flex p-5">

        <div class="col-sm-12 p-5 align-content-center ">
            <h2 class="aheader text-center">our mission</h2>
            <hr>
            <p class="atext text-center mt-5">To provide Telemedicinal care and medical treatment in Jamaica; a
                populations where preventative care is not a priority. </p>
            <hr>
            <h4 class="abody text-center mt-3">Why?</h4>
            <p class="atext text-center">Physicians working in the public health system are over-burdened by the vast
                numbers of patients and experience burnout due to overcrowding.</p>
            <p class="atext text-center">Although, health insurance coverage in Jamaica has increased by 148% between
                2002 and 2007 based on the JSLC (Jamaica Survey of Living Conditions), the actual health care
                utilization among residents has only increased by 11.7%.</p>
        </div>
    </div>
</div>

<!--SOLUTION-->

<div class="container-fluid partners solution">
    <div class="row justify-content-center">
        <div class="col-sm-12 pt-5">
            <h2 class="pheader text-center">Solution</h2>
            </h2>
        </div>
        <hr>
        <div class="col-sm-12">
            <p class="ptext text-center pt-3"> What we plan to do about it
            </p>
        </div>
    </div>
</div>

<!--SOLUTIONS-->

<div class="container-fluid solbg">
    <div class="row d-flex p-5">
        <div class="col-sm-12 col-md-6 pt-5">
            <h3 class="solheader text-start">SERVICE INITIATIVE</h3>
            <p class="solbody">To build a grassroots initiative to empower volunteers and under-resourced communities in
                Jamaica by conducting a two-week pilot community service initiative to resolve health disparities and
                inspire all involved to collaboratively work towards a more equitable system of health for vulnerable
                populations suffering from unmanaged chronic health illnesses.</p>

        </div>

        <div class="col-sm-12 col-md-6 pt-5">
            <img src="./img/jamaica.jpg" class="img img-fluid" alt="">

        </div>
    </div>
    <hr>
    <div class="row d-flex p-5">
        <div class="col-sm-12 col-md-6 pt-5">
            <h3 class="solheader text-start">THE PLAN</h3>
            <p class="solbody">By collaborating with the Port Antonio Health System in Jamaica, we wish to create
                telemedicine-integrated mobile health units which can house nurses and community health workers who will
                obtain & document basic health-screenings, vital assessments, past medical histories, and triage
                patients into categories of severity. </p>
            <p class="solbody"> Simultaneously, we will host community outreach events & hospital-based educational
                workshops to introduce health care providers, community health workers, and civilians to the Doxy.me &
                OpenMRS platforms and facilitate an interface that is user-friendly and efficient in coordinating
                patient care.</p>

        </div>

        <div class="col-sm-12 col-md-6 pt-5">
            <img src="./img/great.jpg" class=" img img-fluid" alt="">

        </div>




    </div>


    <hr>

    <div class="row d-flex p-5">
        <div class="col-sm-12 col-md-6 pt-5">
            <h3 class="solheader text-start">Mobile Health effectiveness</h3>
            <p class="solbody">In the United States, since 2000, the number of mobile health units servicing underserved
                communities has risen to between 1500-2000 total units. These units provider a range of services to an
                array of demographics including remote/rural regions without restriction to age, socieoeconomic status,
                or gender.</p>

            <p class="solbody"> MHCs have shown to be financially sustainable since they allow patients to avoid often
                astonishing costs when visiting a hospital’s emergency department through utilization prevention
                services which show an average return-on-investment (ROI) of 15-20 US dollars saved per 1 dollar spent.
            </p>


        </div>

        <div class="col-sm-12 col-md-6 pt-5">
            <img src="./img/floorplan.png" class="img img-fluid" alt="">

        </div>


    </div>



</div>


<div class="container-fluid footer mt-4">
    <div class="row justify-content-center">
        <div class="col-sm-3 text-center">


            <a href="https://instagram.com/globeconnectnp?igshid=1i8zb0mao2om4">
                <i class="fab fa-instagram soc"></i>
            </a>
            <p> ©2018 by GlobeConnect</p>
        </div>

    </div>
</div>
</div>